*.PrjPcb.Zip
DriverBoardForCNC/__Previews/*
*.PcbDoc.Zip
DriverBoardForCNC/History/*
DriverBoardForCNC/Project Logs for DriverBoardForCNC/*
~$*.SLDDRW
DriverBoardForCNC/Project Outputs for DriverBoardForCNC/*.drc
DriverBoardForCNC/Project Outputs for DriverBoardForCNC/*.html
DriverBoardForCNC/Project Outputs for DriverBoardForCNC/Gerber/__Previews/*
ToDo.txt
DriverBoardForCNC/Project Outputs for DriverBoardForCNC/Status Report.Txt
DriverBoardForCNC/~$*.SLDPRT
DriverBoardForCNC/~$*.SLDASM
DriverBoardForCNC/Project Outputs for DriverBoardForCNC/DriverBoardForCNC-macro.APR_LIB
DriverBoardForCNC/Project Outputs for DriverBoardForCNC/DriverBoardForCNC.RUL
DriverBoardForCNC/Project Outputs for DriverBoardForCNC/DriverBoardForCNC.REP
DriverBoardForCNC/Project Outputs for DriverBoardForCNC/DriverBoardForCNC.GTL
DriverBoardForCNC/Project Outputs for DriverBoardForCNC/DriverBoardForCNC.EXTREP
DriverBoardForCNC/Project Outputs for DriverBoardForCNC/DriverBoardForCNC.apr
DriverBoardForCNC/DriverBoardForCNC.step
DriverBoardForCNC/DriverBoardForCNC.SLDPRT
DriverBoardForCNC/Project Outputs for DriverBoardForCNC/NC Drill/__Previews/*
DriverBoardForCNC/Project Outputs for DriverBoardForCNC/Gerber/DriverBoardForCNC.apr
DriverBoardForCNC/Project Outputs for DriverBoardForCNC/Gerber/DriverBoardForCNC.EXTREP
DriverBoardForCNC/Project Outputs for DriverBoardForCNC/Gerber/DriverBoardForCNC.REP
DriverBoardForCNC/Project Outputs for DriverBoardForCNC/Gerber/DriverBoardForCNC.RUL
DriverBoardForCNC/Project Outputs for DriverBoardForCNC/Gerber/DriverBoardForCNC-macro.APR_LIB
DriverBoardForCNC/Project Outputs for DriverBoardForCNC/NC Drill/DriverBoardForCNC.DRR
DriverBoardForCNC/Project Outputs for DriverBoardForCNC/NC Drill/DriverBoardForCNC.LDP
DriverBoardForCNC/DriverBoardForCNC - TestPadsCoordinates.bak
DriverBoardForCNC/packages/*.*
BOMforPCBA.xlsx
